$firstCol: #ff4343;
$secCol: white;
$firstCol-100: #e43030;
$secCol-100: rgb(233, 233, 233);
$firstCol-200: #c22c2c;
$secCol-300: rgb(199, 199, 199);
$secCol-200: rgb(219, 219, 219);

$black: rgb(55, 55, 55);